<% @title = 'Sales Funnels : Revenue Influx' %>
<div class='container'>
  <h1 class='center'>
    Sales Funnels
  </h1>
  <div class='row'>
    <div class='col-md-4 center'>
      <%= image_tag('sales-funnel-big.png', alt:'sales funnel', style:'width:100%;max-width:300px;') %>
    </div>
    <div class='col-md-8'>
      <p>Let&#8217;s face it, most first-time visitors don’t become buyers. Fewer than 2% of visitors make a purchase or inquire (become a lead) on their first visit. This is where having an automated sales funnel can make the difference when it comes to success or failure in your online efforts.</p>
      <p>The combination of highly optimized and converting landing pages, automated marketing emails, and retargeting ads help build trust, credibility, and authority for your business and brand – all of which is necessary to convert cold traffic into buyers. Email marketing is still one of the most effective marketing tools. We help you segment your subscribers, craft compelling emails, and develop powerful drip campaigns that are dependent on each subscriber’s actions.</p>
      <p>We&#8217;ll take the time to learn about your customer, their buying process, and cycle and <strong>we&#8217;ll map out an automated sales funnel to drive new leads and sales</strong>. Our online sales model has been tried, tested and proven to work since 2010 </p>
    </div>
  </div>
  <h2 class='center'>
    <%= link_to('Schedule A Consultation &raquo;'.html_safe, contact_path, class:'btn btn-lg btn-primary', role:'button', style:'border-radius:2em;')%>
  </h2>
<br>
</div>