<% @title = 'SEO Marketing : Revenue Influx' %>
<div class='container'>
  <h1 class='center'>
    SEO Marketing: Search Engine Optimization (SEO) / Search Marketing Services
  </h1>
  <div class='row'>
    <div class='col-md-4 center'>
      <%= image_tag('seo-marketing.jpg', alt:'SEO marketing', style:'width:100%;max-width:300px;') %>
    </div>
    <div class='col-md-8'>
      <p>
        If people can’t find you, they can’t do business with you.
      </p>
      <p>
        Search marketing refers to the organic and paid search activities that help boost your website’s search engine visibility, drive visitors and generate leads.
      </p>
      <p>
        It’s critical that your business gets found online when people are searching for your related products, services and knowledge.
        Why is Search Marketing an important part of our inbound marketing partnerships?
      </p>
    </div>
  </div>
  <h2>
    <strong>Why SEO?</strong>
  </h2>
  <ul>
    <li>
      1.17 Billion people use search engines on a regular basis to find information online, according to Google.
    </li>
    <li>
      68% of search engine users click on listings that make the first page of results while only 8% go beyond the first three pages of results, according to a recent Jupiter Research study.
    </li>
    <li>
      39% of search engine users consider companies in the top natural search results to be leaders in their field, according to the Jupiter study.
    </li>
    <li>
      Google was the chosen search engine for more than 72% of all U.S. Internet searches in March 2009, according to Hitwise.
    </li>
  </ul>
  <h2>
    <strong>SEO Services</strong>
  </h2>
  <p>
    We offer paid and organic SEO services and search marketing services including:
  </p>
  <ul>
    
    <li>
      Keyword Research and Marketing – we’ll help you select the most appropriate keywords that will drive traffic to your website.
    </li>
    
    <li>
      SEO recommendations
    </li>
    
    <li>
      Identify and manage links
    </li>
    
    <li>
      Track your competitors
    </li>
    
    <li>
      Optimize globally and/or locally
    </li>
    
    <li>
      Website landing pages
    </li>
    
    <li>
      Google Adwords / PPC (Our team is Google Adwords Certified)
    </li>
  </ul>
  <h2 class='center'>
    <%= link_to('Schedule A Consultation &raquo;'.html_safe, contact_path, class:'btn btn-lg btn-primary', role:'button', style:'border-radius:2em;')%>
  </h2>
<br>
</div>