<% @title = 'Facebook Advertising : Revenue Influx' %>

<h1>
  Facebook Advertising Services
</h1>

<h2>
  <strong>Facebook advertising that gets results.</strong>
</h2>

<p>
  Facebook advertising offers some of the most accurate demographic and interest targeting for finding new customers. By leveraging Facebook’s powerful ad platform, we make sure people who need your products or services see your business as a solution for those needs.
</p>

<h2>
  Retargeting customers.
</h2>
<p>
  Retargeting works when your potential customer visits your website and then leaves. Later, we will show them your ads on Facebook. These ads will show them relevant information (or maybe a special offer) that will get them to want to come back to your site. This makes your marketing campaigns have even more of an impact with precision targeting. We manage thousands of Facebook ads for successful businesses and are known for getting results.
</p>

<p>
  There is a lot of complexity to making Facebook and Instagram work for your business and you know how overwhelming it can be. This is where we come in – we’ll do the heavy lifting. Our agency pricing allows us to work for you at a fraction of what a full-time employee would cost to manage your Facebook ads.
</p>

<div class='row'>
  <div class='col-sm-6'>
    <h2>
      Targeting
    </h2>
    <p>
      We will take the time to learn who your ideal customer is so we have detailed customer profiles to target for you on Facebook. This information is used as a foundation for targeting when we set up your FB ads.
    </p>
  </div>
  <div class='col-sm-6'>
    <h2>
      Geo-Social Campaigns for Local Marketing
    </h2>
    <p>
      Run locally targeted ad campaigns that are only visible to people within a specific radius of your business. With local marketing ads, we can target and communicate with anyone near your business and provide them with an incentive to visit your location in real-time.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6'>
    <h2>
      Ad Design
    </h2>
    <p>
      We will work with you to create graphics for your Facebook ads that get results. We can either work with your graphic designer or start from scratch and do it for you.
    </p>
  </div>
  <div class='col-sm-6'>
    <h2>
      Campaign Management
    </h2>
    <p>
      We can do it all for you, from creation to management. We’ll use data from the campaigns and continue to tweak and improve the respective campaigns per your goals.
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-sm-6'>
    <h2>
      Copywriting
    </h2>
    <p>
      By taking the time to understand your brand’s personality, voice, and campaign goals, we will create engaging and effective ad copy and call-to-actions.
    </p>
  </div>
  <div class='col-sm-6'>
    <h2>
      FB Video Ads
    </h2>
    <p>
      Combining Facebook video ads and remarketing is one of the best ways to get targeted, affordable, and high-converting traffic to your website.
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-sm-6'>
    <h2>
      Split Testing
    </h2>
    <p>
      We are always testing copy, images, targeting, and landing pages for your ads to ensure we find the best possible combination to get you results. We’ll measure exactly what is working and what isn’t.
    </p>
  </div>
  <div class='col-sm-6'>
    <h2>
      Ad Reporting
    </h2>
    <p>
      We will gather and analyze dozens of data points for your ad campaigns, such as CTR, CPC, social reach, social engagement, frequency, and cost per conversion. We’ll send you these reports on the success of your campaigns so you always know where your campaigns stand.
    </p>
  </div>
</div>
<div class='center'>
  <%= image_tag('facebook-advertising-agency.png', alt:'Facebook Advertising', style:'width:100%;max-width:700px;')%>
</div>
<h2 class='center'>
    <%= link_to('Schedule A Consultation &raquo;'.html_safe, contact_path, class:'btn btn-lg btn-primary', role:'button', style:'border-radius:2em;')%>
  </h2>
<p class='center'>
  <small>
    Please note: We are not affiliated with Facebook. We are an independent agency and we abide by Facebook advertising policies on behalf of our clients.
  </small>
</p>
