<% @title = 'FACEBOOK AD HACKS: HOW TO CREATE ADS THAT CONVERT'%>
<style>
  .post li {
    padding:5px;
  }
</style>
<h1>
  FACEBOOK AD HACKS: HOW TO CREATE ADS THAT CONVERT
</h1>
<%= image_tag('facebook-ad-img.jpg', alt:"Facebook ads", class:"img-responsive center-block ", size: '400x400')%>
<h2 style='min-width:400px;'>
  Here are some quick Facebook Ad hacks on how to improve your Facebook Advertising efforts and get more conversion:
</h2>
<ul class='post'>
  
  <li>Avoid Blue, White, and Grays in your ads because these are Facebook&#8217;s colors and you don&#8217;t want to blend in. You want to stand out. Yellow and Red stand out the most but test different colors.</li>
  <li>No text is best. Period. But always check against <a href="https://www.facebook.com/ads/tools/text_overlay" target="_blank">Facebook&#8217;s Ad Text Overlay Tool</a>.</li>
  <li>Positive content typically converts more than negative content.</li>
  <li>The goal is to create an ad that doesn’t look like an ad (engagement ads look the least like ads).</li>
  <li>Cartoon images actually work – test them.</li>
  <li>Size the images correctly – take the time to use <a href="http://www.canva.com" target="_blank" rel="noopener">Canva.com</a>, 2 types of posts you’ll create for FB, the FB post size, and the FB Ad size, particularly when placing an ad with traffic or conversion objective to have the image be a click.</li>
  <li>People are conditioned to click on hyperlinks so use them in the copy above your ads (ALL of them – especially engagement, because when they click on the image it just opens the post).</li>
  <li>Use trackable links and report the tracking to the client to show results – Resource: <a href="http://bitly.com" target="_blank">Bitly.com</a></li>
  <li>Video ads tend to get more engagement, but less conversion – test them but don’t be fooled by the low CPA.</li>
  <li>Entertain, inform, educate, sell – in that order.</li>
  <li>Give quick tips. People love quick tips or quick hacks (recipes, DIY tips, how to do your teeth whitening from home, etc).</li>
  <li>Quick tips will also help you build your brand presence, and fan base</li>
  <li>Sell services and products by SHOWING the product or service in creative ways.</li>
  <li>Humanize your page by what you post. Meet the owner, meet the staff, meet the chef, meet the office manager, meet a tech, meet our plumbers, meet the stylist, meet the doctor, meet our bartender, hostess,  This post type works well because it’s authentic and it connects the audience more emotionally with the business.</li>
  <li>Ask a yes or rhetorical questions to get more engagement.</li>
  <li>There is a recent, big movement towards long sales letters in posts, and yes, they look like ads. Don’t do it. While it works for Internet marketers (to sell to other Internet marketers), it’s not something you want to replicate for most normal B2B or B2C marketing.</li>
  <li>Use numbers in headlines – &#8220;3 reasons to…, 7 home improvement gift ideas this holiday season, 3 Ways to Enjoy Whiskey, 5 steps to healthier hair, 17 ways to shed 5 Lbs. by the holidays, etc.&#8221;</li>
  <li>What is an advertorial (often seen in a magazine or a trade journal) and why do they work so well? Because they share a story, educate and inform and don’t look like an ad. Use this strategy in your posts.</li>
  <li>Study advertising. Not just Facebook ads. Study it everywhere – study the headlines. Big businesses are spending money on magazine ads and it’s expensive, they do don’t do it half-ass. They still work, just not as well. But they work. Study them. And don’t be afraid to pick up some classic books on advertising, such as Ogilvy on Advertising by David Ogilvy and Positioning: The Battle for Your Mind by Al Ries and Jack Trout. These are two classic books that should be in every business library.</li>
  <li>Leverage <a href="https://expandedramblings.com/index.php/facebook-messenger-statistics/" target="_blank" >Facebook Messenger</a> and messenger chatbots in your advertising on Facebook. It&#8217;s not the next big thing, it&#8217;s big now and the open rate is over 90%. The uses for it in marketing and customer service are limited only by your imagination and creativity.</li>
</ul>