<%= @title = 'Meet Michael Ohioze : Revenue Influx'%>
<div class='container'>
  <h1 class='center'> Meet Michael Ohioze <br><small style='font-size:0.5em;'>founder of RevenueInflux ©</small></h1>
  
  <div class='row'>
    <div class='col-md-4 col-sm-6 center'>
        <%= image_tag 'IMG_0110.jpg', alt:'Michael Ohioze', style:'width:100%; max-width:400px;' %>
    </div>
    <div class='col-md-8 col-sm-6' style='font-size:1.1em;'>
      <p>
        Michael Ohioze is a leading expert in social media marketing and online strategy. A self-described online marketing evangelist, Michael has been taught by Tai Lopez who has spent over $300,000 in online marketing and sales strategies. With this knowledge he has gained over 2 million views on youtube, and helped clients reach 20,000+ subscribers on youtube.
      </p>

      <p>
        Michael Ohioze is also the C.E.O. of Oz Investment Holdings, a small London-based company specializing in the development of local businesses.
        Michael has played a key role in the launch of social media campaigns for local, and regional businesses and brands throughout the U.K. Clients range from a broad variety of industries including technology, health, fitness, automotive, restaurant, hotel, retail, and others.
      </p>
      <p>
        Michael’s also a professional Ruby on Rails Internet Programmer, Ruby on Rails is the programming language that Twitter.com and Shopify.com was initially built on, so he knows exactly how the internet works
      </p>
    </div>
    
  </div>
</div>
