<div class='container legal'>
  <h1 class='center'>
    Return Policy
  </h1>
  
  <p>
    You can cancel your order without giving any reason within 28 days (Unless one of the exceptions from the list bellow applies to you) from the day on which you or a third party indicated by you (other than the carrier) receives the goods or services purchased (or last good, lot or piece if it relates to goods or multiple lots or pieces delivered separately) or from the day of the conclusion of the contract.
  </p>
  
  <p>
    In order for you to cancel a purchase, you must inform RevenueInflux of your decision to cancel your order. You can do this by using this form, or by contacting us. 
  </p>
  
  <p>
    We will reimburse all payments received from you for the goods or services purchased
  </p>
  
  <p>
    If you wish to return an item after the 28 day deadline, you will be asked to supply a valid reason to why you want to return the product and we consider
  </p>
  
  <h2>
    EFFECTS OF CANCELLATION
  </h2>
  
  <p>
    We will reimburse all payments received from you for the services purchased, no later than 28 days from the day on which we received the above communication. We will use the same means of payment as you used for the initial transaction, unless you have expressly agreed otherwise. In any event, you will not incur any fees as a result of such reimbursement. If reimbursement occurs after the maximum time period mentioned above, the amount due to you will as of right be increased.
  </p>

  <h2>
    EXCEPTIONS TO THE RIGHT OF CANCELLATION
  </h2>
  
  <p>
    The right of cancellation does not apply to:
  </p>
  <ul>
    <li>
      the supply of goods or service made to your specifications or clearly personalized;
    </li>
    <li>
      the supply of goods which may deteriorate or expire rapidly;
    </li>
    <li>
      a service if RevenueInflux has fully performed it and you accepted when you placed your order that we could start to deliver it, and that you could not cancel it once delivery had started;
    </li>
    <li>
      the supply of digital content (including apps, digital software, ebooks, MP3, etc) which is not supplied on a tangible medium (e.g. on a CD or DVD) if you accepted when you placed your order that we could start to deliver it, and that you could not cancel it once delivery had started;
    </li>
  </ul>
</div>