<% @title = '10 Simple Tips For Youtube Marketing : Revenue Influx' %>
<h1>
  10 Simple Tips for YouTube Marketing
</h1>
<div class='center'>
  <%= image_tag('youtube-s.jpg', alt:'youtube', size:'306x204')%>
</div>
<p>It&#8217;s not a question whether you use YouTube as your video marketing tool to reach your audience online, it&#8217;s only a question of how well you&#8217;ll use it. Here are 10 simple tips for YouTube marketing:</p>
<p><strong>1. </strong><b>Keep your video short.</b></p>
<p>People generally have small attention spans and the percentage of viewers that are going to stick around for your big finale &#8211; and link information &#8211; after even 5 minutes is pretty slim. Ty and keep your information brief and to the point. Use your YouTube channel as a method of enticing viewers to view your other content, and give them more information when they get to that point.</p>
<p><b>2. Don’t forget about your mobile audience. </b></p>
<p>A growing number of people are using their phones to access YouTube and watch videos. Bear that in mind when you’re including text – it has to be easily viewable on a small screen.</p>
<p><b>3. Watermark your content.</b> <b></b></p>
<p>Keep your information secure and not easily reproduced by others by adding a watermark to your video. Just make sure it’s not too overpowering that it distracts from your content.</p>
<p><b>4. Spread the word.</b> <b></b></p>
<p>Having a consistent level of communication between your YouTube, Twitter, Facebook and other social media accounts will do wonders for your flow of traffic. As soon as you’ve produced a new video, get it out there and let everyone in your network know about it. The good news is that it will automatically post to your Google+ account since you’ll already have your Google and YouTube accounts linked.</p>
<p><b>5. Focus on SEO.</b> <b></b></p>
<p>Add captions, tag your content, add a succinct description, think hard about your title and make sure your video file name is relevant, (dog-chases-car as opposed to 10-10-13) … these are all great methods of making sure your content gets viewed.</p>
<p><b>6. Think about Audio.</b> <b></b></p>
<p>You want to make sure your audience is engaged… but not overwhelmed. If you have spoken audio, it’s good to include intro and outro music to the video. YouTube has some fantastic options to choose from.</p>
<p><b>7. Prepare your videos.</b> <b></b></p>
<p>Use the best quality video and audio equipment as you can afford right now. Keep shaky camera movements to a minimum and plan the video before you shoot it – think about writing a script and practice first!</p>
<p><b>8. Link.</b> <b></b></p>
<p>Make sure you take good advantage of the fact that someone is viewing your content – give them a link to the rest of your content or relevant content, and make it easily accessible in both the annotations and the video description.</p>
<p><b>9. Do something different.</b> <b></b></p>
<p>Never has ‘thinking outside of the box’ been so important. You’re up against a lot of competition and the more you stand out, the better.</p>
<p><b>10. Go beyond YouTube.</b></p>
<p>Once you’ve created your video content there are plenty of other video sharing sites online where you can post it and increase your audience.</p>
<p>&nbsp;</p>
<p>What other tips have you learned that have helped you?</p>