<% @title = 'Contact Us : Revenue Influx'%>

<div class="row">
  <div class="col-md-7 info-box">
    <h1>Contact Us</h1>
    <p>HOW CAN WE HELP YOU?
      Call us at 07958432219 or please enter your email bellow. We want to make sure you get your questions answered quickly.</p>
    <%= render 'form' %>
  </div>
   <div class="col-md-5 info-box" style='border:none'>
    <%= image_tag('contact-pic-revenue.jpg', alt:"Contact Us", class:"img-responsive center-block")%>
  </div>
</div>