/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//fonts
@font-face {
    font-family: "kollektif";
    src: font-url("Kollektif.ttf") format("truetype");
}

@font-face {
    font-family: "belinda";
    src: font-url("belinda.otf") format("opentype");
}

@font-face {
    font-family: "allura-regular";
    src: font-url("Allura-Regular.otf") format("opentype");
}

@font-face {
    font-family: "carterone";
    src: font-url("CarterOne.ttf") format("truetype");
}

@font-face {
    font-family: "baloo";
    src: font-url("Baloo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "clearsans regular";
    src: font-url("ClearSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "adventpro regular";
    src: font-url("adventpro-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Archivo regular";
    src: font-url("Archivo-Regular.ttf") format("truetype");
}